.dashboard {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 1em;
  z-index: 201;

  .button:hover,
  .button:active,
  .button:focus {
    color: var(--color-bg);
    background: unset;
    text-decoration: unset;
  }
}

.dashboard.dashboard--hide {
  display: none;
}

.dashboard--top {
  top: 0;
  right: 0;
}

.dashboard--bottom {
  bottom: 0;
  left: 0;
}

.menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 0;
  height: 100vh;
  height: 100dvh;
  z-index: 200;
  color: var(--color-fg);
  background: rgb(0 0 0 / 75%);
  /* background: var(--color-bg); */

  a {
    /* margin: 0; */
    color: var(--color-fg);
    font-style: italic;
    text-decoration: unset;
    /* padding: 0.3em; */
    /* background: linear-gradient(to top, transparent 48%, var(--color-fg) 48%, var(--color-fg) 52%, transparent 52%); */
    /* text-decoration: underline solid var(--color-anim); */
    /* text-decoration-line: underline; */
    /* text-decoration-color: var(--color-fg); */
    /* text-decoration-style: solid; */
    /* text-decoration-thickness: 2px; */
  }

  sup a {
    text-decoration-line: unset;
  }

  .data-footnote-backref {
    text-decoration-line: unset;
  }

  a:hover,
  a:active,
  a:focus {
    color: var(--color-bg);
    background: var(--color-fg);
    text-decoration: unset;
    /* text-decoration: line-through solid var(--color-anim); */
    /* text-decoration-line: underline; */
    /* text-decoration-style: solid; */
    /* text-decoration-color: var(--color-anim); */
    /* text-decoration-thickness: 2px; */
  }

  &.menu--show {
    width: 100%;
    user-select: text;
    display: flex;

    * {
      user-select: text;
    }
  }
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;

  .title__link {
    background: unset;
    text-decoration: unset;
    font-size: 1.2em;
    /* margin: 25% 0 1em; */
    margin: 1em;
    padding: 0;
    font-weight: bold;
    word-break: break-word;
    font-style: italic;
    text-align: center;
  }
}

@media (width >=50em) {
  .title {
    .title__link {
      font-size: 1.6em;
      max-width: 62%;
    }
  }
}

.button.button--sound {
  text-decoration: unset;
  font-size: 1em;
  /* margin: 25% 0 1em; */
  margin: 0;
  /* padding: 10px; */
  word-break: break-word;
  width: 2em;
  height: 2em;
  display: flex;
  justify-content: center;
}

.button.button--menu {
  /* padding: 10px; */
  width: 2em;
  height: 2em;
  display: inline-flex;
  justify-content: center;
  align-items: flex-start;
}

.dashboard .button .button__svg {
  transition: transform 0.5s ease;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  max-height: 100%;
  max-width: 100%;

  svg {
    width: 100%;
    height: 100%;
    max-height: 100%;
    max-width: 100%;
    fill: var(--color-fg);
  }
}

@media (width >=50em) {
  /* [* 800px *] */
  /* .button { */
  /*   width: 1.2em; */
  /*   height: 1.2em; */
  /* } */

  /* .button__svg { */
  /*   padding: 0.2em; */
  /* } */
}

.dashboard .button .button__svg.hide {
  display: none;
}

.dashboard .button:hover .button__svg,
.dashboard .button:focus .button__svg,
.dashboard .button:active .button__svg {
  transition: transform 0.5s ease;
  transform: rotateY(180deg);
}

.menu__content {
  max-width: 66ch;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  padding: 1em 2em;
  /* overflow: hidden; */
  /* overflow-y: scroll; */
  /* scrollbar-width: none; */
  /* -ms-overflow-style: none; */
  /* position: relative; */

  /* &::-webkit-scrollbar { */
  /*   display: none; */
  /* } */
}

.menu__content--credits {
  border-top: var(--border-width) solid var(--color-fg);
  margin: 2em auto;
  padding: 2em 0 0;
  text-align: center;
  font-style: italic;
}

.instructions {
  /* position: absolute; */
  /* top: 0; */
  /* left: 0; */
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 1em;
  color: var(--color-fg);
  display: none;
}

.instructions__mobile {
  display: none;
}

.instructions__desktop {
  display: block;
}

@media (hover: none) and (pointer: coarse) {
  .instructions__mobile {
    display: block;
  }

  .instructions__desktop {
    display: none;
  }
}

/* @media (min-width: 50em) { */
/*   /1* 800px *1/ */
/*   .menu.menu--show { */
/*     display: flex; */
/*     flex-direction: column; */
/*     justify-content: space-between; */
/*     align-items: center; */
/*   } */
/*   .menu { */
/*     .title__link { */
/*       font-size: 3em; */
/*       /1* margin: 10% 0 1em; *1/ */
/*       /1* margin: 1em 0 1em; *1/ */
/*       margin: 1em; */
/*     } */
/*   } */
/* } */
/* @media (max-width: 50em) and (min-height: 700px) { */
/*   .menu { */
/*     .title__link { */
/*       margin: 30% 1em 1em; */
/*     } */
/*   } */
/* } */
/* @media (max-width: 60em) and (max-height: 600px) and (orientation: landscape) { */
/*   .menu { */
/*     .title__link { */
/*       font-size: 1.6em; */
/*       margin: 0.2em 1em; */
/*     } */
/*   } */
/* } */
/* @media (min-width: 50em) and (max-height: 600px) and (orientation: landscape) { */
/*   .menu { */
/*     .title__link { */
/*       font-size: 1.6em; */
/*       margin: 1em 1em 1em; */
/*     } */
/*   } */
/* } */
