/* Class struggle */

.world {
  display: none;
}

.ascii *,
.ascii {
  font-family: Iosevka, Menlo, 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}

.load-mesh-horizontal {
  z-index: 100000;
  display: none;
  position: fixed;
  opacity: 0;
  left: 0;
  top: 0;
  height: 2px;
  width: 100%;
  /* transition: all 1s ease-in-out 0.4s; */
  background: var(--color-fg);
}

.load-mesh-horizontal.load-mesh-horizontal--anim {
  opacity: 1;
  display: block;
  animation: load-horizontal 0.5s ease;
}

.load-mesh-horizontal--anim-reverse {
  opacity: 1;
  display: block;
  animation: load-horizontal 0.5s ease reverse;
}

.load-mesh-vertical {
  z-index: 100000;
  display: none;
  position: fixed;
  opacity: 0;
  left: 0;
  top: 0;
  height: 100vh;
  height: 100dvh;
  width: 2px;
  /* transition: all 1s ease-in-out 0.4s; */
  background: var(--color-fg);
}

.load-mesh-vertical--anim {
  opacity: 1;
  display: block;
  animation: load-vertical 0.5s ease;
}

.load-mesh-vertical--anim-reverse {
  opacity: 1;
  display: block;
  animation: load-vertical 0.5s ease reverse;
}

.crossed-out {
  /* text-decoration: line-through solid var(--color-fg); */
  text-decoration: line-through solid var(--color-fg);
  text-decoration-thickness: 0.05em;
}

.label {
  display: none;
  touch-action: none;
  user-select: none;
  /* text-shadow: -1px 1px 1px rgb(0,0,0); */
  font-size: 1em;
  margin-left: 15px;
  margin-top: 15px;
}

.data-footnote-backref {
  text-decoration-line: unset;
}

.home {
  /* display: none; */
  width: 100vw;
  height: 100vh;
  height: 100dvh;
  background: var(--color-bg);
  /* top: 0; */
  /* left: 0; */
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.btn.none,
.none,
.hidden,
.hide {
  display: none;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.button.button--show {
  z-index: 201;
}

.button {
  user-select: none;
  border-radius: 0;
  cursor: pointer;
  margin: 0;
  /* padding: 0.3em 0.3em 0.2em; */
  padding: 0 0.5em;
  text-align: center;
  color: var(--color-fg);
  text-decoration: none;
  /* border: 2px solid var(--color-fg); */
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  transition: transform 0.5s ease;
}

.button:hover,
.button:focus,
.button:active {
  color: var(--color-anim);

  svg {
    fill: var(--color-anim);
  }
}

.hide-scrollbar {
  overflow: -moz-hidden-unscrollable;
  overflow: hidden;
}

.hide {
  display: none;
}

/* .cursor { */
/*   position: fixed; */
/*   top: 0; */
/*   left: 0; */
/*   transform: translate(-50%, -50%); */
/*   user-select: none; */
/*   pointer-events: none; */
/*   background: var(--color-fg); */
/*   transition: all 0.4s linear; */
/*   transition-property: background, transform; */
/* } */

/* .cursor--main { */
/*   height: 5px; */
/*   width: 5px; */
/*   border-radius: 50%; */
/*   z-index: 10001; */
/*   opacity: 1; */
/* } */
/*  */
/* .cursor--bg { */
/*   height: 20px; */
/*   width: 20px; */
/*   border-radius: 50%; */
/*   z-index: 10000; */
/*   opacity: 0.3; */
/* } */
/*  */
/* .cursor--interact { */
/*   &.cursor--main { */
/*     background: var(--color-bg); */
/*     animation: pulse 2s ease-in-out infinite; */
/*   } */
/*   &.cursor--bg { */
/*     transform: translate(-50%, -50%) scale(2); */
/*   } */
/* } */
/*  */
/* @keyframes pulse { */
/*   0% { */
/*     transform: translate(-50%, -50%) scale(1); */
/*   } */
/*  */
/*   50% { */
/*     transform: translate(-50%, -50%) scale(2); */
/*   } */
/*  */
/*   100% { */
/*     transform: translate(-50%, -50%) scale(1); */
/*   } */
/* } */
/*  */
/* .cursor--click { */
/*   transform: translate(-50%, -50%) scale(2); */
/* } */

/* @media (hover: none) and (pointer: coarse) { */
/*   .cursor { */
/*     display: none; */
/*   } */
/* } */

.interface {
  /* position: fixed; */
  /* top: 0; */
  /* right: 0; */
  display: inline-block;
  /* width: 5em; */
  /* height: 100vh; */
  /* height: 100dvh; */
}

.texts {
  z-index: 10;
  display: none;
  opacity: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* touch-action: none; */
  /* user-select: none; */
  /* max-width: 1000px; */
  /* max-height: 80vh; */
  color: var(--color-fg);
  font-size: 1em;
  margin: 0;
  padding: 1em;
  background: rgb(0 0 0 / 75%);
  max-width: 1200px;
  width: 80vw;
  height: 85vh;
  overflow: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }

  button.texts__close {
    z-index: 20;
    display: inline-block;
    position: fixed;
    top: 0;
    right: 0.1em;
    user-select: none;
  }
}

.epigraphe {
  margin: var(--line-space) 0 var(--line-space) 20%;
  text-align: right;
  font-style: italic;
}

.epigraphe+.text {
  padding: 0 0 1em;
}

.texts.show {
  display: flex;
  flex-direction: column;
  opacity: 1;
  user-select: text;

  * {
    user-select: text;
  }

}

.open-menu .texts.show {
  display: none;
}

.text {
  display: none;
  opacity: 0;
  margin: 0 auto;
  padding: 1em;
  max-width: 100%;
}

.footnotes {
  display: none;
  margin: 0 auto;
  padding: 1em;
}

@media (width >=50em) {

  /* 800px */
  .text {
    padding: 1em 2em;
  }

  .footnotes {
    padding: 1em 2em;
  }
}

.footnotes,
.texts,
.text {
  user-select: none;

  * {
    user-select: none;
  }
}

.footnotes.show,
.text.show {
  display: block;
  opacity: 1;
  user-select: text;

  * {
    user-select: text;
  }
}

.appear {
  animation: appear 1s ease-in-out;
}

.gras {
  font-weight: bold;
  margin: 0.5em 0;
}

.italique {
  font-style: italic;
  margin: 0.5em 0;
}

.centre {
  text-align: center;
  margin: 0.5em 0;
}

.passage-centre {
  text-align: center;
  margin: 0.5em 2em;
}

.colright {
  margin-left: 50%;
  margin-right: 0;
}

.colleft {
  margin-left: 0;
  margin-right: 50%;
  font-style: italic;
}

.colleft *,
.colleft p,
.colleft span {
  font-style: italic;
}


.asterisme {
  text-align: center;
  margin: 1.62em 0;
}

.marge-trois {
  margin: 0.5em 2em 0.5em 0;
}

.marge-six {
  margin: 0.5em 4em 0.5em 0;
}

.ligneblanche {
  margin: 1.62em 0;
}

.titre-souligne {
  text-align: center;
  text-decoration: underline;
  font-style: italic;
  margin: 1.62em 0;
}

@keyframes appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes rotate360 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.objload {
  z-index: 30;
  display: hidden;
  position: fixed;
  opacity: 0;
  left: 0;
  top: 0;
  height: 2px;
  width: 100%;
  /* transition: all 1s ease-in-out 0.4s; */
  background: var(--color-bg);

  &--anim {
    opacity: 1;
    display: block;
    animation: objload 0.5s ease;
  }

  &--anim-reverse {
    opacity: 1;
    display: block;
    animation: objload 0.5s ease reverse;
  }
}

.objload-vert {
  z-index: 30;
  display: hidden;
  position: fixed;
  opacity: 0;
  left: 0;
  top: 0;
  height: 100vh;
  height: 100dvh;
  width: 2px;
  /* transition: all 1s ease-in-out 0.4s; */
  background: var(--color-bg);

  &--anim {
    opacity: 1;
    display: block;
    animation: objloadvert 0.5s ease;
  }

  &--anim-reverse {
    opacity: 1;
    display: block;
    animation: objloadvert 0.5s ease reverse;
  }
}

@keyframes load-horizontal {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(100vh);
    transform: translateY(100dvh);
  }
}

@keyframes load-vertical {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(100vw);
  }
}
