---
import Layout from "@layouts/Layout.astro";
import World from "@world/World.tsx";
import { Content as ContentIndex } from "../content/meta/index.md";
import SimpleBar from "simplebar-react";
import "@styles/simplebar.css";
const paddingSimpleBar = "10px";
---

<Layout>
  <World client:load />
  <div class="texts">
    <button class="texts__close">[X]</button>
    <SimpleBar
      client:only="react"
      style={{ height: "100%", padding: paddingSimpleBar }}
    >
      <ContentIndex />
    </SimpleBar>
  </div>
</Layout>

<script is:inline>
  const closeBtn = document.querySelector(".texts__close");
  closeBtn?.addEventListener("click", (e) => {
    e.preventDefault();
    closeBtn.blur();
    document.querySelector(".texts")?.classList.remove("show");
    document.querySelector(".footnotes")?.classList.remove("show");
  });

  window.onload = (e) => {
    setTimeout(() => {
      var aTags = document.querySelectorAll("a[href^='#']"); //use apt selector for you section
      aTags.forEach((aTag) =>
        aTag.addEventListener("click", function (e) {
          e.preventDefault();
          e.stopPropagation();
          const href = e.target.attributes.href.value;
          const destination = document.querySelector(href);
          history.pushState({}, "", href);
          destination.scrollIntoView({
            behavior: "smooth",
            block: "start",
          });
        }),
      );
    }, 1000);
  };
</script>
