---
import { Content as ContentMenu } from "@content/meta/menu.md";
import { Content as ContentCredits } from "@content/meta/credits.md";
import { Content as ContentInformations } from "@content/meta/informations.md";
import SimpleBar from "simplebar-react";
import "@styles/simplebar.css";
import "@styles/interface.css";
import { SITE } from "@site-config";

const paddingSimpleBar = "10px";
---

<script>
  import { isMenuOpen, isMuted } from "@components/stores/interfaceStore.ts";
  isMenuOpen.subscribe((open) => {
    if (open) {
      document.querySelector(".menu")?.classList.add("menu--show");
    } else {
      document.querySelector(".menu")?.classList.remove("menu--show");
    }
  });

  const btnSound = document.querySelector(".button--sound");
  btnSound?.addEventListener("click", (e) => {
    e.preventDefault();
    btnSound.blur();
    const play = btnSound.querySelector(".button__play");
    const stop = btnSound.querySelector(".button__stop");
    play?.classList.toggle("hide");
    stop?.classList.toggle("hide");
    isMuted.set(!isMuted.get());
  });

  const btnMenu = document.querySelector(".button--menu");
  btnMenu?.addEventListener("click", (e) => {
    e.preventDefault();
    btnMenu.blur();
    const on = btnMenu.querySelector(".button__on");
    const off = btnMenu.querySelector(".button__off");
    on?.classList.toggle("hide");
    off?.classList.toggle("hide");
    document.querySelector(".menu")?.classList.toggle("menu--show");
    document.querySelector("body")?.classList.toggle("open-menu");
  });
</script>
<div class="dashboard dashboard--top">
  <button class="button button--menu">
    <div class="button__svg button__on">
      <svg
        version="1.1"
        viewBox="0 0 1920 1920"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="m960 1807.1c-467.12 0-847.06-379.93-847.06-847.06s379.93-847.06 847.06-847.06 847.06 379.93 847.06 847.06-379.93 847.06-847.06 847.06m0-1807.1c-529.36 0-960 430.64-960 960s430.64 960 960 960 960-430.64 960-960-430.64-960-960-960"
        ></path>
      </svg>
    </div>
    <div class="button__svg button__off hide">
      <svg
        version="1.1"
        viewBox="0 0 1920 1920"
        xmlns="http://www.w3.org/2000/svg"
      >
        <circle cx="960" cy="960" r="960"></circle>
      </svg>
    </div>
  </button>
</div>
<div class="dashboard dashboard--bottom">
  <button class="button button--sound">
    <div class="button__svg button__stop hide">
      <svg
        version="1.1"
        viewBox="0 0 1920 1920"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="m1920 0v1920h-1920v-1920zm-137.14 137.14h-1645.7v1645.7h1645.7z"
        ></path>
      </svg>
    </div>
    <div class="button__svg button__play">
      <svg
        version="1.1"
        viewBox="0 0 1920 1920"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="m175.2 0v1920l1569.6-959.94zm121.55 216.9 1214.9 743.16-1214.9 743.04v-1486.2z"
        ></path>
      </svg>
    </div>
  </button>
</div>
<div class={`menu`}>
  <SimpleBar
    client:only="react"
    style={{ height: "100%", padding: paddingSimpleBar }}
  >
    <div class="menu__content">
      <div class="title">
        <a
          href={SITE.titlelink}
          target="_blank"
          rel="noopener"
          class="title__link"
          >{SITE.displayTitle}
        </a>
      </div>
      <ContentMenu />
    </div>
    <div class="menu__content menu__content--credits">
      <ContentCredits />
    </div>
  </SimpleBar>
</div>
