.loading {
  z-index: 10000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  opacity: 1;
  inset: 0;
  transition: all 1s ease-in-out;
  background: var(--color-bg);
  font-size: 0.85em;
  width: 100%;
  height: 100%;
}

@media (width >=50em) {

  /* 800px */
  .loading {
    font-size: 1em;
  }
}

.loading__content {
  width: 100vw;
  /* margin: 3em 0 0; */
}

.loading .text-anim {
  width: 100%;
  font-family: Crimson, serif;

  p {
    position: relative;
    font-size: 4em;
    font-weight: normal;
    line-height: 1;
    color: var(--color-fg);
    text-align: center;
    width: 100%;
    height: 1.5em;
  }
}

.text-anim p .letter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 1.1em 0 0;
  line-height: 1;
}

.text-anim p .letter--dynamic {
  animation: 2s linear infinite loadingFade;
}



.loading__bar {
  width: 62%;
  max-width: 300px;
  text-align: center;
  height: 0.5em;
  margin: 1em auto;
  border: var(--border-width) solid var(--color-fg);
  /* margin: 0.5em 0 1em; */
  opacity: 1;
  position: relative;

  &--done {
    animation: 0.5s linear loadingDisable;
    opacity: 0;
  }

  .loading__progress {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: var(--color-fg);
  }
}

.loading .loading__button {
  cursor: pointer;
  display: block;
  text-align: center;
  margin: 0 auto;
  /* margin: 5em auto 0.5em; */
  padding: 0.2em 0.5em;
  /* color: var(--color-fg); */
  border: var(--border-width) solid var(--color-fg);
  /* background-color: var(--color-bg); */

  &:hover,
  &:active,
  &:focus {
    color: var(--color-bg);
    border: var(--border-width) solid var(--color-fg);
    background-color: var(--color-fg);
  }

  &.loading__button--enable {
    animation: 1s ease-in-out loadingEnable;
  }

  &.loading__button--disable {
    cursor: default;
    display: block;
    text-align: center;
    margin: 0 auto;
    /* margin: 5em auto 0.5em; */
    padding: 0.2em 0.5em;
    color: var(--color-light-bg);
    border: var(--border-width) solid var(--color-light-bg);
    opacity: 0;

    &:hover,
    &:active,
    &:focus {
      color: var(--color-light-bg);
      border: var(--border-width) solid var(--color-light-bg);
      background-color: var(--color-bg);
    }

  }
}

.loading.loading--done {
  /* display: none; */
  opacity: 0;
  z-index: -1;
}

@keyframes loadingFade {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes loadingFadeInvert {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes loadingEnable {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes loadingDisable {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
