---
import Head from "@components/Head.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import "@styles/global.css";

import { SITE } from "@site-config";
---

<!doctype html>
<html lang={SITE.lang}>
  <Head />
  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>
